.controls {
  position: relative;
  padding: 0 24px 43px;
  // margin-top: -85px;
  z-index: 10;

  @media (max-width: 768px) {
    padding: 0 16px 40px;
  }

  &__wrapper {
    display: flex;
    align-items: center;

    @media (max-width: 768px) {
      flex-wrap: wrap;
      justify-content: space-between;
      grid-gap: 30px;
    }
  }
}
