header {
  padding: 10px 24px;
  background-color: var(--green);
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__title {
    font-size: 16px;
    font-weight: 700;
    color: var(--white);

    @media (max-width: 576px) {
      padding-left: 20px;
      font-size: 14px;
      font-weight: 500;
    }
  }

  &__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    grid-gap: 4.85px;

    @media (max-width: 576px) {
      left: 0;
      transform: translateY(-50%);

      svg:last-child {
        display: none;
      }
    }
  }

  &__btns {
    display: flex;
    align-items: center;
    grid-gap: 10px;
  }

  &__user-btn {
    position: relative;

    &:hover {
      .header__user-settings {
        display: block;
      }

      .header__btn {
        svg {
          stroke: var(--yellow);
        }
      }
    }
  }

  &__btn {
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    border-radius: 50px;
    transition: 0.3s ease;

    svg {
      stroke: var(--green);
      transition: 0.3s ease;
    }

    &:hover,
    &:active {
      svg {
        stroke: var(--yellow);
      }
    }
  }

  &__user-settings {
    padding-top: 31px;
    display: none;
    position: absolute;
    width: 161px;
    right: -15px;
    z-index: 20;
  }
}
