<header>
  <div class="container">
    <div class="header">
      <div class="header__title">Система управления</div>
      <a class="header__logo" href="$">
        <svg width='8' height='16'>
          <use href='img/sprite/sprite.svg#logo-battery'></use>
        </svg>
        <svg width='122' height='13'>
          <use href='img/sprite/sprite.svg#logo-title'></use>
        </svg>
      </a>
      <div class="header__btns">
        <button class="header__btn">
          <svg width='13.7' height='13.7'>
            <use href='img/sprite/sprite.svg#setting'></use>
          </svg>
        </button>
        <div class="header__user-btn">
          <button class="header__btn">
            <svg width='13.7' height='13.7'>
              <use href='img/sprite/sprite.svg#user'></use>
            </svg>
          </button>
          <div class="header__user-settings">
            <div class="user">
              <div class="user__personal">
                <div class="user__avatar">
                  <picture>
                    <source type='image/webp' srcset='img/agnes.webp'>
                    <img width='40' height='40' src='img/agnes.png' alt='Агнес Толстопятко'>
                  </picture>
                </div>
                <div class="user__name">Агнес Толстопятко</div>
              </div>
              <ul class="user__btns">
                <li class="user__btns-item">
                  <button class="user__btn">
                    <svg width='14' height='14'>
                      <use href='img/sprite/sprite.svg#account'></use>
                    </svg>
                    <span>Личный кабинет</span>
                  </button>
                </li>
                <li class="user__btns-item">
                  <button class="user__btn">
                    <svg width='14' height='14'>
                      <use href='img/sprite/sprite.svg#theme'></use>
                    </svg>
                    <span>Темная тема</span>
                  </button>
                </li>
                <li class="user__btns-item">
                  <button class="user__btn">
                    <svg width='14' height='14'>
                      <use href='img/sprite/sprite.svg#exit'></use>
                    </svg>
                    <span>Выйти</span>
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
