<header>
  <div class="container">
    <div class="header">
      <div class="header__title">Система управления</div>
      <a class="header__logo" href="$">
        <svg width='8' height='16'>
          <use href='img/sprite/sprite.svg#logo-battery'></use>
        </svg>
        <svg width='122' height='13'>
          <use href='img/sprite/sprite.svg#logo-title'></use>
        </svg>
      </a>
      <div class="header__btns">
        <button class="header__btn">
          <svg width='13.7' height='13.7'>
            <use href='img/sprite/sprite.svg#setting'></use>
          </svg>
        </button>
        <button class="header__btn">
          <svg width='13.7' height='13.7'>
            <use href='img/sprite/sprite.svg#user'></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</header>
