<div class="modal">
  <div class="modal__container" data-target="export">
    <div class="modal__wrapper download">
      <div class="modal__title">Выберите формат экспорта</div>

      <div class="download__modal-content">
        <div class="download__select select">
          <div class="download__select-header select__header">
            <span class="download__select-current select__current">
              Таблица XLSX
            </span>
            <svg width='12' height='12'>
              <use href='img/sprite/sprite.svg#arrow'></use>
            </svg>
          </div>

          <ul class="download__select-body select__body">
            <li class="download__select-item select__item" data-choice='choosen'>Таблица XLSX</li>
            <li class="download__select-item select__item" data-choice='choosen'>Таблица XLS</li>
          </ul>
        </div>
      </div>

      <div class="modal__bottom">
        <button class="modal__btn modal__btn--download">Загрузить</button>
        <button class="modal__btn modal-close">Отменить</button>
      </div>
    </div>
  </div>

  <div class="modal__container" data-target="categories">
    <div class="modal__wrapper choose">
      <div class="modal__close modal-close">
        <svg width='24' height='24'>
        <use href='img/sprite/sprite.svg#close'></use>
        </svg>
      </div>

      <div class="choose__modal-content">
        <div class="modal__title">Выберите категорию</div>

        <div class="choose__content">
          <div class="choose__categories">
            <div class="choose__category">
              <div class="choose__categories-title">Категория</div>

              <ul class="choose__categories-list">
                <li class="choose__categories-item">
                  <label class="choose__label sort__label">
                    <input class="choose__input sort__input" type="checkbox" name="category">
                    <span class="choose__name sort__name">Автотовары</span>
                  </label>
                </li>
                <li class="choose__categories-item">
                  <label class="choose__label sort__label">
                    <input class="choose__input sort__input" type="checkbox" name="category">
                    <span class="choose__name sort__name">Аксессуары</span>
                  </label>
                </li>
                <li class="choose__categories-item">
                  <label class="choose__label sort__label">
                    <input class="choose__input sort__input" type="checkbox" name="category">
                    <span class="choose__name sort__name">Техника</span>
                  </label>
                </li>
                <li class="choose__categories-item">
                  <label class="choose__label sort__label">
                    <input class="choose__input sort__input" type="checkbox" name="category">
                    <span class="choose__name sort__name">Аудио</span>
                  </label>
                </li>
                <li class="choose__categories-item">
                  <label class="choose__label sort__label">
                    <input class="choose__input sort__input" type="checkbox" name="category">
                    <span class="choose__name sort__name">Чехлы-аккумуляторы</span>
                  </label>
                </li>
                <li class="choose__categories-item">
                  <label class="choose__label sort__label">
                    <input class="choose__input sort__input" type="checkbox" name="category">
                    <span class="choose__name sort__name">Зарядные устройства</span>
                  </label>
                </li>
                <li class="choose__categories-item">
                  <label class="choose__label sort__label">
                    <input class="choose__input sort__input" type="checkbox" name="category">
                    <span class="choose__name sort__name">Здоровье</span>
                  </label>
                </li>
              </ul>
            </div>

            <div class="choose__category">
              <div class="choose__categories-title">Подкатегория 1</div>

              <ul class="choose__categories-list">
                <li class="choose__categories-item">
                  <label class="choose__label sort__label">
                    <input class="choose__input sort__input" type="checkbox" name="category1">
                    <span class="choose__name sort__name">Для iPhone</span>
                  </label>
                </li>
                <li class="choose__categories-item">
                  <label class="choose__label sort__label">
                    <input class="choose__input sort__input" type="checkbox" name="category1">
                    <span class="choose__name sort__name">Для iPhone 6</span>
                  </label>
                </li>
                <li class="choose__categories-item">
                  <label class="choose__label sort__label">
                    <input class="choose__input sort__input" type="checkbox" name="category1">
                    <span class="choose__name sort__name">Для iPhone 7</span>
                  </label>
                </li>
                <li class="choose__categories-item">
                  <label class="choose__label sort__label">
                    <input class="choose__input sort__input" type="checkbox" name="category1">
                    <span class="choose__name sort__name">Для iPhone 8</span>
                  </label>
                </li>
                <li class="choose__categories-item">
                  <label class="choose__label sort__label">
                    <input class="choose__input sort__input" type="checkbox" name="category1">
                    <span class="choose__name sort__name">Для iPhone 9</span>
                  </label>
                </li>
                <li class="choose__categories-item">
                  <label class="choose__label sort__label">
                    <input class="choose__input sort__input" type="checkbox" name="category1">
                    <span class="choose__name sort__name">Для iPhone 10</span>
                  </label>
                </li>
                <li class="choose__categories-item">
                  <label class="choose__label sort__label">
                    <input class="choose__input sort__input" type="checkbox" name="category1">
                    <span class="choose__name sort__name">Для iPhone 11</span>
                  </label>
                </li>
                <li class="choose__categories-item">
                  <label class="choose__label sort__label">
                    <input class="choose__input sort__input" type="checkbox" name="category1">
                    <span class="choose__name sort__name">Для iPhone 12</span>
                  </label>
                </li>
                <li class="choose__categories-item">
                  <label class="choose__label sort__label">
                    <input class="choose__input sort__input" type="checkbox" name="category1">
                    <span class="choose__name sort__name">Для iPhone 13</span>
                  </label>
                </li>
                <li class="choose__categories-item">
                  <label class="choose__label sort__label">
                    <input class="choose__input sort__input" type="checkbox" name="category1">
                    <span class="choose__name sort__name">Защитные стекла и пленки</span>
                  </label>
                </li>
              </ul>
            </div>

            <div class="choose__category">
              <div class="choose__categories-title">Подкатегория 2</div>

              <ul class="choose__categories-list">
                <li class="choose__categories-item">
                  <label class="choose__label sort__label">
                    <input class="choose__input sort__input" type="checkbox" name="category2">
                    <span class="choose__name sort__name">Портативный </span>
                  </label>
                </li>
                <li class="choose__categories-item">
                  <label class="choose__label sort__label">
                    <input class="choose__input sort__input" type="checkbox" name="category2">
                    <span class="choose__name sort__name">Солнечный</span>
                  </label>
                </li>
                <li class="choose__categories-item">
                  <label class="choose__label sort__label">
                    <input class="choose__input sort__input" type="checkbox" name="category2">
                    <span class="choose__name sort__name">Безпроводной</span>
                  </label>
                </li>
                <li class="choose__categories-item">
                  <label class="choose__label sort__label">
                    <input class="choose__input sort__input" type="checkbox" name="category2">
                    <span class="choose__name sort__name">Серии А</span>
                  </label>
                </li>
                <li class="choose__categories-item">
                  <label class="choose__label sort__label">
                    <input class="choose__input sort__input" type="checkbox" name="category2">
                    <span class="choose__name sort__name">Для Samsunge S</span>
                  </label>
                </li>
                <li class="choose__categories-item">
                  <label class="choose__label sort__label">
                    <input class="choose__input sort__input" type="checkbox" name="category2">
                    <span class="choose__name sort__name">Для Samsunge A10</span>
                  </label>
                </li>
                <li class="choose__categories-item">
                  <label class="choose__label sort__label">
                    <input class="choose__input sort__input" type="checkbox" name="category2">
                    <span class="choose__name sort__name">Для Samsunge A20</span>
                  </label>
                </li>
                <li class="choose__categories-item">
                  <label class="choose__label sort__label">
                    <input class="choose__input sort__input" type="checkbox" name="category2">
                    <span class="choose__name sort__name">Для Samsunge Note A10</span>
                  </label>
                </li>
                <li class="choose__categories-item">
                  <label class="choose__label sort__label">
                    <input class="choose__input sort__input" type="checkbox" name="category2">
                    <span class="choose__name sort__name">Для Samsunge Note S10</span>
                  </label>
                </li>
                <li class="choose__categories-item">
                  <label class="choose__label sort__label">
                    <input class="choose__input sort__input" type="checkbox" name="category2">
                    <span class="choose__name sort__name">Для Samsunge</span>
                  </label>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>




      <div class="modal__bottom">
        <button class="modal__btn modal__btn--choose">Выбрать</button>
        <button class="modal__btn">Очистить</button>
      </div>
    </div>
  </div>
</div>
