<div class="modal">
  <div class="modal__container" data-target="export">
    <div class="modal__wrapper download">
      <div class="modal__title">Выберите формат экспорта</div>

      <div class="download__modal-content">
        <div class="download__select select">
          <div class="download__select-header select__header">
            <span class="download__select-current select__current">
              Таблица XLSX
            </span>
            <svg width='12' height='12'>
              <use href='img/sprite/sprite.svg#arrow'></use>
            </svg>
          </div>

          <ul class="download__select-body select__body">
            <li class="download__select-item select__item" data-choice='choosen'>Таблица XLSX</li>
            <li class="download__select-item select__item" data-choice='choosen'>Таблица XLS</li>
          </ul>
        </div>
      </div>

      <div class="modal__bottom">
        <button class="modal__btn modal__btn--download">Загрузить</button>
        <button class="modal__btn modal-close">Отменить</button>
      </div>
    </div>
  </div>

  <div class="modal__container" data-target="categories">
    <div class="modal__wrapper choose">
      <div class="modal__close modal-close">
        <svg width='24' height='24'>
        <use href='img/sprite/sprite.svg#close'></use>
        </svg>
      </div>

      <div class="choose__modal-content">
        <div class="modal__title">Конструктор таблицы</div>

        <div class="choose__content">
          <div class="choose__categories">
            <div class="choose__category">
              <div class="choose__categories-title">Товары</div>

              <ul class="choose__categories-list">
                <li class="choose__categories-item">
                  <label class="choose__label sort__label">
                    <input class="choose__input sort__input" type="checkbox" name="category">
                    <span class="choose__name sort__name">Категория</span>
                  </label>
                </li>
                <li class="choose__categories-item">
                  <label class="choose__label sort__label">
                    <input class="choose__input sort__input" type="checkbox" name="category">
                    <span class="choose__name sort__name">Подкатегория 1</span>
                  </label>
                </li>
                <li class="choose__categories-item">
                  <label class="choose__label sort__label">
                    <input class="choose__input sort__input" type="checkbox" name="category">
                    <span class="choose__name sort__name">Подкатегория 2</span>
                  </label>
                </li>
                <li class="choose__categories-item">
                  <label class="choose__label sort__label">
                    <input class="choose__input sort__input" type="checkbox" name="category" checked>
                    <span class="choose__name sort__name">Артикул</span>
                  </label>
                </li>
                <li class="choose__categories-item">
                  <label class="choose__label sort__label">
                    <input class="choose__input sort__input" type="checkbox" name="category">
                    <span class="choose__name sort__name">Фото</span>
                  </label>
                </li>
                <li class="choose__categories-item">
                  <label class="choose__label sort__label">
                    <input class="choose__input sort__input" type="checkbox" name="category">
                    <span class="choose__name sort__name">Название</span>
                  </label>
                </li>
              </ul>
            </div>

            <div class="choose__category">
              <div class="choose__categories-title">Ресурсы продаж</div>

              <ul class="choose__categories-list">
                <li class="choose__categories-item">
                  <label class="choose__label sort__label">
                    <input class="choose__input sort__input" type="checkbox" name="category1">
                    <span class="choose__name sort__name">Сайт</span>
                  </label>
                </li>
                <li class="choose__categories-item">
                  <label class="choose__label sort__label">
                    <input class="choose__input sort__input" type="checkbox" name="category1" checked>
                    <span class="choose__name sort__name">Rozetka</span>
                  </label>
                </li>
                <li class="choose__categories-item">
                  <label class="choose__label sort__label">
                    <input class="choose__input sort__input" type="checkbox" name="category1">
                    <span class="choose__name sort__name">Prom</span>
                  </label>
                </li>
              </ul>
            </div>

            <div class="choose__category">
              <div class="choose__categories-title">Склады</div>

              <ul class="choose__categories-list">
                <li class="choose__categories-item">
                  <label class="choose__label sort__label">
                    <input class="choose__input sort__input" type="checkbox" name="category2" checked>
                    <span class="choose__name sort__name">Склад 1</span>
                  </label>
                </li>
                <li class="choose__categories-item">
                  <label class="choose__label sort__label">
                    <input class="choose__input sort__input" type="checkbox" name="category2">
                    <span class="choose__name sort__name">Склад 2</span>
                  </label>
                </li>
                <li class="choose__categories-item">
                  <label class="choose__label sort__label">
                    <input class="choose__input sort__input" type="checkbox" name="category2" checked>
                    <span class="choose__name sort__name">Склад 3</span>
                  </label>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>




      <div class="modal__bottom">
        <button class="modal__btn modal__btn--choose">Выбрать</button>
        <button class="modal__btn">Очистить</button>
      </div>
    </div>
  </div>
</div>
