.choose {
  max-width: 847px;
  width: 100%;

  &__modal-content {
    display: flex;
    flex-direction: column;
    grid-gap: 24px;
    padding-top: 47px;
    padding-left: 60px;
    text-align: left;
  }

  &__content {
    height: 360px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-right: 4px;

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      padding-right: 4px;
      background-color: var(--yellow);
      border-radius: 100px;
    }
  }

  &__categories {
    max-width: 711px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
  }

  &__categories-title {
    margin-bottom: 16px;
    font-size: 20px;
    font-weight: 500;
  }

  &__categories-list {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
  }

  &__categories-item {
    height: 24px;
  }


  &__label {
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
  }

  &__input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.3s ease;

    &:checked ~ .sort__name::after{
      opacity: 1;
    }

    &:checked ~ .sort__name::before{
      background-color: var(--white);
      border: none;
    }
  }

  &__name {
    position: relative;
    padding-left: 34px;
    font-size: 18px;
    color: var(--gray);
    transition: all 0.3s ease;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      display: block;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background-color: var(--white);
      width: 24px;
      height: 24px;
      border: 2px solid var(--light-green);
      border-radius: 6px;
      transition: all .3s ease;
      z-index: 1;
    }

    &::after {
      content: "";
      position: absolute;
      display: block;
      background-image: var(--arrow-check);
      background-size: cover;
      background-repeat: no-repeat;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 24px;
      height: 24px;
      z-index: 5;
      opacity: 0;
      transition: all 0.3s ease;
    }

    &:hover {
      transition: all 0.3s ease;

      &::before {
        background-color: var(--light-green);
      }
    }
  }
}
