.clear {
  padding: 11px 28px;
  font-size: 18px;
  font-weight: 500;
  color: var(--green);
  border-radius: 16px;
  border: 1px solid var(--green);
  background-color: var(--white);
  transition: all 0.3s ease;

  &:hover {
    color: var(--yellow);
    border: 1px solid var(--yellow);
  }

  &:active {
    color: var(--gray);
    border: 1px solid var(--gray);
  }
}
