.select {
	position: relative;

  &.is-active {
    .select__body {
      position: absolute;
      display: flex;
      z-index: 10;
    }

    .select__header {
      svg {
        transform: rotate(90deg);
      }
    }
  }

  &__body {
    transition: all .3s ease;
  }
}




