:root {
  /* -- Fonts --*/
  --font-family-futura: "FuturaNew", sans-serif; // var(--font-family-futura);

  /* -- Colors --*/
  --light-green: #BDDEDA; // var(--light-green);
  --green: #64B6AC; // var(--green);
  --white: #FFFFFF; // var(--white);
  --black: #143127; // var(--black);
  --bg: #F8F8F8; // var(--bg);
  --extra-light-green: #CCEFC4; // var(--extra-light-green);
  --pink: #CCEFC4; // var(--pink);
  --yellow: #FDC300; // var(--yellow);
  --gold: #F2BB00; // var(--gold);
  --gray: #626F6A; // var(--gray);
}








